@inject NavigationManager NavigationManager

<link href='https://fonts.googleapis.com/css?family=MuseoModerno' rel='stylesheet'>

<div>
  @* TODO: Dont use table *@
  <table style="width: 100%;">
    <tr>
      <td style="width: 90%;">
        <div>
          <a 
            style="font-family: 'MuseoModerno'; font-size: 22px; text-align: left;display: inline-block; color: black; text-decoration: none"
            href="@NavigationManager.BaseUri">MarketMakerPoker</a>
        </div>
      </td>
      <td style="width: 10%;">
        <UserBadge />
      </td>
    </tr>
  </table>
</div>