@page "/console"
@implements IDisposable
@using Lib
@using MarketMakingGame.Shared.Messages
@inject AppService AppService

<div class="form-group">
  <label>
    Mesage:
    <input @bind="messageInput" />
  </label>
</div>
<button @onclick="SendCreateGameRequest" disabled="@(!IsConnected)">Create Game</button>
<button @onclick="SendJoinGameRequest" disabled="@(!IsConnected)">Join Game</button>
<hr>
<ul id="messagesList">
  @foreach (var message in messages)
  { <li>@message</li> }
</ul>

@code
{
  private List<string> messages = new List<string>();
  private string messageInput;

  protected override async Task OnInitializedAsync()
  {
    AppService.GameClient.OnIsConnectedChanged += OnIsConnectedChanged;
    AppService.GameClient.OnCreateGameResponse += OnCreateGameResponse;
    AppService.GameClient.OnJoinGameResponse += OnJoinGameResponse;
    await AppService.InitializeAsync();
  }

  void OnIsConnectedChanged(bool isConnected)
  {
    StateHasChanged();
  }

  void OnCreateGameResponse(CreateGameResponse message)
  {
    AddToMessageList(message);
  }

  void OnJoinGameResponse(JoinGameResponse message)
  {
    AddToMessageList(message);
  }

  void AddToMessageList<T>(T message)
  {
    messages.Add($"{message}");
    StateHasChanged();
  }

  Task SendCreateGameRequest()
  {
    var message = new CreateGameRequest()
    {
      UserName = AppService.UserDataEditorViewModel.DisplayName,
      UserId = AppService.UserDataEditorViewModel.UserId,
      UserAvatar = AppService.UserDataEditorViewModel.AvatarSeed,
      GameName = messageInput
    };
    return AppService.GameClient.SendRequestAsync("CreateGame", message);
  }

  Task SendJoinGameRequest()
  {
    var message = new JoinGameRequest()
    {
      UserName = AppService.UserDataEditorViewModel.DisplayName,
      UserId = AppService.UserDataEditorViewModel.UserId,
      UserAvatar = AppService.UserDataEditorViewModel.AvatarSeed,
      GameId = messageInput
    };
    return AppService.GameClient.SendRequestAsync("JoinGame", message);
  }

  public bool IsConnected => AppService.GameClient.IsConnected;

  public void Dispose()
  {
    AppService.GameClient.OnIsConnectedChanged -= OnIsConnectedChanged;
    AppService.GameClient.OnCreateGameResponse -= OnCreateGameResponse;
    AppService.GameClient.OnJoinGameResponse -= OnJoinGameResponse;
  }
}