@page "/playgame/{gameid}"
@using MarketMakingGame.Client.Lib
@inject GamePlayerViewModel GamePlayerViewModel

<p>
  Joining Game: @GameId
</p>

@code {
  [Parameter]
  public string GameId { get; set; }

  public GamePlayerViewModel ViewModel => GamePlayerViewModel;

  protected override async Task OnInitializedAsync()
  {
    ViewModel.GameId = GameId;
    await ViewModel.InitializeAsync();
  }
}
