@page "/"
@implements IDisposable
@using Lib
@using MarketMakingGame.Shared.Messages
@inject NavigationManager NavigationManager
@inject AppService AppService

<div>
  <UserBadge />
  <div style="text-align: center; display: inline-block; width: 100%;">
    <MatHeadline4><img src="poker.png" width=32 height=32 /> The Market Making Game</MatHeadline4>
  </div>
</div>
<p></p>
<MatDivider />
<p></p>

@if (ViewType == ViewTypes.Create)
{
  <CreateGame />
}
else
{
  <p>Loading ...</p>
}

@code {
  public enum ViewTypes
  {
    Default,
    Create
  };

  public ViewTypes ViewType { get; set; } = ViewTypes.Default;

  public String JoinGameId { get; set; } = String.Empty;

  protected override async Task OnInitializedAsync()
  {
    await AppService.InitializeAsync();

    if (!AppService.UserDataEditorViewModel.CheckValid().Success)
    {
      AppService.UserDataEditorViewModel.IsUserDataEditorOpen = true;
    }

    ViewType = ViewTypes.Create;
  }

  public void Dispose()
  { }

}