@page "/"
@implements IDisposable
@using Lib
@inject NavigationManager NavigationManager
@inject MainPageViewModel MainPageViewModel

<div>
  <table style="width: 100%;">
    <tr>
      <td style="width: 10%;">
      </td>
      <td style="width: 80%;">
        <div style="text-align: center; display: inline-block; width: 100%;">
          <MatHeadline5 style="font-family: font-family: 'Times New Roman', Times, serif;"><img src="images/poker.png" width=32
            height=32 /> The Market Maker's Poker</MatHeadline5>
        </div>
      </td>
      <td style="width: 10%;">
        <UserBadge />
      </td>
    </tr>
  </table>

  <p></p>
  <MatDivider />
  <p></p>

  @if (ViewModel.IsInitialized)
  {
    <GameManager />
  }
  else
  {
    <p>Loading ...</p>
  }
</div>

@code {
  MainPageViewModel ViewModel => MainPageViewModel;

  protected override async Task OnInitializedAsync()
  {
    MainPageViewModel.StateChanged += OnViewModelChanged;
    await MainPageViewModel.InitializeAsync();

    if (!MainPageViewModel.UserDataEditorViewModel.CheckValid().Success)
    {
      MainPageViewModel.UserDataEditorViewModel.IsUserDataEditorOpen = true;
    }
  }

  void OnViewModelChanged(EventArgs e)
  {
    StateHasChanged();
  }

  public void Dispose()
  { }
}