@implements IDisposable
@using MarketMakingGame.Client.Lib
@inject MainViewModel MainViewModel

<div class="mat-layout-grid">
  <div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell-span mat-layout-grid-cell-span-2">
      <img src="@ViewModel.AvatarUrl" width=64 height=64 @onclick="MainViewModel.UserDataEditorViewModel.RefreshAvatar"
style="border-radius: 10%;border-style: dotted;border-width: thin;" title="Click to change Avatar" />
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
      <EditForm Model="MainViewModel.UserDataEditorViewModel">
        <DataAnnotationsValidator />
        <MatStringField Label="Display Name" @bind-Value="@ViewModel.Data.DisplayName" />
        <ValidationMessage For="@(() => @ViewModel.Data.DisplayName)" style="font-size: x-small;" />
      </EditForm>
    </div>
  </div>
</div>

@code {
  UserDataEditorViewModel ViewModel => MainViewModel.UserDataEditorViewModel;

  protected override async Task OnInitializedAsync()
  {
    ViewModel.StateChanged += OnViewModelChanged;
    await MainViewModel.InitializeAsync();
  }

  void OnViewModelChanged(EventArgs e)
  {
    StateHasChanged();
  }

  public void Dispose()
  {
    ViewModel.StateChanged -= OnViewModelChanged;
  }
}
