@page "/UserData"
@using MarketMakingGame.Client.Lib
@using System.ComponentModel.DataAnnotations
@inject AppService AppService

<div class="mat-layout-grid">
  <div class="mat-layout-grid-inner">
    <div class="mat-layout-grid-cell-span mat-layout-grid-cell-span-2">
      <img src=@($"https://avatars.dicebear.com/api/gridy/{AppService.UserDataViewModel.Data.AvatarSeed}.svg") width=64
height=64 @onclick="AppService.UserDataViewModel.RefreshAvatar"
style="border-radius: 10%; border-style: dotted; border-width: thin;" title="Click to change Avatar" />
    </div>
    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
      <EditForm Model="AppService.UserDataViewModel.Data">
        <DataAnnotationsValidator />
        <MatStringField Label="Display Name" @bind-Value="@AppService.UserDataViewModel.Data.DisplayName" />
        <ValidationMessage For="@(() => @AppService.UserDataViewModel.Data.DisplayName)" style="font-size: x-small;" />
      </EditForm>
    </div>

  </div>
</div>

@code {
  protected override async Task OnInitializedAsync()
  {
    AppService.UserDataViewModel.StateChanged += OnUserDataViewModelChanged;
    await AppService.InitializeAsync();
  }

  void OnUserDataViewModelChanged(EventArgs e)
  {
    StateHasChanged();
  }
}
